/*VARIABLES*/
/*MIXIN*/
@font-face {
  font-family: "shrikhand";
  src: url("../police/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../police/Roboto/Roboto-Regular.ttf");
  src: url("../police/Roboto/Roboto-Bold.ttf");
}
/*BODY*/
body {
  margin: 0;
  padding: 0;
}

/*MAIN*/
main {
  width: auto;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
}
.page__load {
  border: 1.2rem solid #f3f3f3;
  border-radius: 100%;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  animation: rotate 3s linear;
  animation-fill-mode: forwards;
}
.page ~ main {
  animation: load-menu 3200ms 3000ms both;
}

/*HEADER GENERALE*/
.header-logo {
  display: block;
  margin: 20px auto 12px auto;
}

/*HEADER PAGES RESTAURANTS(MENU)*/
.header {
  display: flex;
  margin: 1rem;
}
.header a {
  margin-left: 1px;
  font-size: 2rem;
  color: black;
}
.header__logo {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.image-restaurant {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*SECTION PRESENTATION*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.presentation__geolocation {
  width: 100%;
  background-color: #e6e6e6;
  box-shadow: inset 1px 2px 2px 0 #b4b4b4;
  display: flex;
  justify-content: center;
}
.presentation__geolocation i {
  padding: 1.2rem;
}
.presentation__geolocation p {
  font-family: "roboto";
  font-size: 1.2rem;
}
.presentation__description {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation__description h1 {
  width: 80%;
  font-size: 2.1rem;
  font-family: "roboto";
  margin-bottom: 1rem;
}
.presentation__description h2 {
  width: 90%;
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: initial;
  color: #8c8c8c;
}
.presentation__description button {
  width: 220px;
  height: 55px;
  margin: 20px 0 50px 0;
  border-radius: 100rem;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 5px #e6e6e6;
  font-size: 1rem;
  font-style: initial;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.presentation__description button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px #b3b3b3;
}

.operation {
  width: 100%;
}
.operation h3 {
  margin: 3rem 0 2rem 1rem;
  font-size: 2rem;
  font-family: "roboto";
}
.operation__box-menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  .operation__box-menu {
    flex-wrap: nowrap;
  }
}
.operation__box-menu__card {
  display: flex;
  width: 80%;
  height: 20px;
  margin: 0.5rem;
  background-color: #ebebeb;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 5px #d9d9d9;
  align-items: center;
  cursor: pointer;
}
.operation__box-menu__card:hover {
  background-color: #f1eafb;
}
.operation__box-menu__card:hover i {
  color: #9356DC;
}
@media screen and (min-width: 468px) {
  .operation__box-menu__card {
    width: 360px;
  }
}
.operation__box-menu__card p:first-child {
  position: relative;
  left: -1.8rem;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 0.2rem 0.5rem;
  color: #fff;
}
.operation__box-menu__card i {
  padding-right: 1.5rem;
  color: #999999;
}
.operation__box-menu__card p:last-child {
  font-family: "roboto";
  font-weight: bold;
  margin-right: 1.2rem;
  font-size: 0.9rem;
  font-weight: lighter;
}

.restaurants {
  background-color: #f2f2f2;
  height: auto;
  padding-left: 1.2rem;
  padding-bottom: 2rem;
  border-radius: 1.5rem;
}
.restaurants h3 {
  padding-top: 2rem;
  font-size: 2.1rem;
  font-family: "roboto";
}
.restaurants__box {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.restaurants__box__card {
  cursor: pointer;
  position: relative;
  margin: 15px;
  background-color: #fff;
  border-radius: 1.5rem;
  text-decoration: none;
  width: 450px;
  height: 300px;
  box-shadow: 5px 5px 5px #d9d9d9;
}
.restaurants__box__card span {
  z-index: 3;
  background-color: #99E2D0;
  position: absolute;
  top: 1.2rem;
  right: 4%;
  padding: 0.5rem 0.5rem;
  color: #009900;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: bolder;
}
.restaurants__box__card img {
  z-index: 2;
  width: 100%;
  height: 230px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  object-fit: cover;
}
.restaurants__box__card__info {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: black;
  margin: 0;
}
.restaurants__box__card__info div {
  padding-left: 0.8rem;
}
.restaurants__box__card__info div p:first-child {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.restaurants__box__card__info div p:last-child {
  margin-top: -1rem;
  font-size: 1.1rem;
}
.restaurants__box__card__info i {
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
}
.restaurants__box__card__info i:hover {
  animation: heart 2000ms;
  animation-fill-mode: forwards;
}

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #383838;
  margin-left: -1.5rem;
}
@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
.footer h4 {
  font-family: "shrikhand";
  color: #fff;
  margin: 1rem 0 0 1rem;
  font-size: 1rem;
  padding-left: 1.7rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 768px) {
  .footer h4 {
    font-size: 1.8rem;
    padding-left: 0;
  }
}
.footer__ul {
  list-style-type: none;
  color: #fff;
  margin: 0;
}
.footer__ul__li {
  padding: 0.3rem;
  font-family: "roboto";
}
.footer__ul__li i {
  margin: 0;
  padding-right: 0.9rem;
}
.footer__ul__li a {
  text-decoration: none;
  color: #fff;
  margin-left: 0;
}

/*MENU*/
.menu {
  width: auto;
  background-color: #e6e6e6;
  padding: 1rem;
}
.menu__h2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: -5rem -1rem 0 -1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #e6e6e6;
  font-family: "shrikhand";
  font-size: 1.6rem;
}
.menu__h2 i {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
}
.menu__h2 i:hover {
  animation: heart 2000ms;
  animation-fill-mode: forwards;
}
.menu__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-family: "roboto";
}
.menu__box__sub-menu {
  height: auto;
  justify-content: space-evenly;
}
.menu__box__sub-menu h3 {
  font-weight: lighter;
  margin-left: 1rem;
  color: #595959;
}
.menu__box__sub-menu h3::after {
  content: "";
  display: block;
  width: 2.8rem;
  height: 0.2rem;
  margin: 0.1rem;
  background-color: #99E2D0;
}
.menu__box__sub-menu__item {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 342px;
  height: 55px;
  margin: 1rem;
  padding: 0.7rem;
  box-shadow: 5px 5px 5px #d1d1d1;
  animation: load-menu 1s 2s both;
}
.menu__box__sub-menu__item:hover :nth-child(1) {
  margin-right: 8rem;
  transition: margin-right 1s;
}
.menu__box__sub-menu__item:hover :nth-child(2) {
  width: 50%;
  transition: width 1s;
}
.menu__box__sub-menu__item:hover :nth-child(3) {
  margin-right: 3.7rem;
  transition: margin-right 1s;
}
.menu__box__sub-menu__item:hover :nth-child(4) {
  right: 0;
  opacity: 1;
  transition: right 1s;
}
.menu__box__sub-menu__item:hover .checkIcon {
  transform: rotate(360deg);
  transition: transform 1s;
}
.menu__box__sub-menu__item :nth-child(1) {
  flex: 1 100%;
  font-size: 1.1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0;
  margin-top: 0;
}
.menu__box__sub-menu__item :nth-child(2) {
  width: 80%;
  font-family: "roboto";
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #595959;
  margin-top: -0.5rem;
}
.menu__box__sub-menu__item h4 {
  margin-top: -0.5rem;
  color: #545454;
}
.menu__box__sub-menu__item .checkIcon {
  margin-top: 80%;
  border-radius: 50%;
  color: #99E2D0;
  background-color: #fff;
  font-size: 1.5rem;
  transform: rotate(0);
}
.menu__box__sub-menu__item--validation {
  opacity: 0;
  height: 90px;
  width: 50px;
  background-color: #99E2D0;
  position: absolute;
  right: -4rem;
  bottom: 0;
  padding-left: 1.1rem;
}
@media screen and (max-width: 360px) {
  .menu__box__sub-menu__item {
    width: 250px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1222px) {
  .menu__box__sub-menu__item {
    width: 600px;
  }
}
.menu__validation {
  text-align: center;
}
.menu__validation button {
  width: 220px;
  height: 55px;
  margin: 20px 0 50px 0;
  border-radius: 100rem;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 5px #e6e6e6;
  font-size: 1rem;
  font-style: initial;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.menu__validation button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px #b3b3b3;
}

/*ANIMATION CHARGEMENT DE LA PAGE*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    background: #e6e6e6;
    border-top: 1.2rem solid #9356DC;
  }
  25% {
    transform: rotate(180deg);
    border-top: 1.2rem solid #99E2D0;
    opacity: 1;
  }
  50% {
    transform: rotate(-150deg);
    border-top: 1.2rem solid yellow;
    opacity: 1;
  }
  75% {
    transform: rotate(200deg);
    border-top: 1.2rem solid #FF79DA;
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    background: linear-gradient(#FF79DA, #9356DC);
    opacity: 0;
  }
}
/*ANIMATIONS COEUR*/
@keyframes heart {
  0% {
    background: linear-gradient(white, white);
    -webkit-background-clip: text;
  }
  100% {
    -webkit-text-stroke: 0 #fff;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
  }
}
/*ANIMATIONS CHARGEMENT DU MENU*/
@keyframes load-menu {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 100% 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 100% 0;
  }
}

/*# sourceMappingURL=style.css.map */
