/*MENU*/
.menu{
    width: auto;
    background-color: $clr-grey;
    padding: 1rem;
    &__h2{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        margin: -5rem -1rem 0 -1rem;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: $clr-grey;
        font-family: 'shrikhand';
        font-size: 1.6rem;
        & i{
            -webkit-text-stroke: 2px black;
            -webkit-text-fill-color: transparent;
            &:hover{
                animation: heart 2000ms;
                animation-fill-mode: forwards;
            }
        }
    }
    &__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'roboto';
        &__sub-menu{
            height: auto;
            justify-content: space-evenly;
            h3{
                font-weight: lighter;
                margin-left: 1rem;
                color: hsl(0°, 0%, 35%);
                &::after{
                    content: "";
                    display: block;
                    width: 2.8rem;
                    height: 0.2rem;
                    margin: 0.1rem;
                    background-color: $clr-tertiary;
                }
            }
            &__item{
                background-color: #fff;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                overflow: hidden;
                border-radius: 1rem;
                width: 342px;
                height: 55px;
                margin: 1rem;
                padding: 0.7rem;
                box-shadow: 5px 5px 5px hsl(0°, 0%, 82%);
                animation: load-menu 1s 2s both;
                // Animation item check hover
                &:hover{
                    & :nth-child(1){
                        margin-right: 8rem;
                        transition: margin-right 1s;
                    }
                    & :nth-child(2){
                        width:50%;
                        transition: width 1s;
                    }
                    & :nth-child(3){
                        margin-right: 3.7rem;
                        transition: margin-right 1s;
                    }
                    & :nth-child(4){
                        right: 0;
                        opacity: 1;
                        transition: right 1s;
                    }
                    & .checkIcon{
                        transform: rotate(360deg);
                        transition: transform 1s;
                    }
                }
                & :nth-child(1){
                    flex: 1 100%;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-right: 0;
                    margin-top: 0;
                }
                & :nth-child(2){
                    width: 80%;
                    font-family: 'roboto';
                    font-size: 1rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    color: hsl(0°, 0%, 35%);
                    margin-top: -0.5rem;
                }
                & h4{
                    margin-top: -0.5rem;
                    color: hsl(0°, 0%, 33%);
                }
                & .checkIcon{
                    margin-top: 80%;
                    border-radius: 50%;
                    color: $clr-tertiary;
                    background-color: #fff;
                    font-size: 1.5rem;
                    transform: rotate(0);
                }
                &--validation{
                    opacity: 0;
                    height: 90px;
                    width: 50px;
                    background-color: $clr-tertiary;
                    position: absolute;
                    right: -4rem;
                    bottom: 0;
                    padding-left: 1.1rem;
                }
                @media screen and (max-width: 360px) {
                    width: 250px;
                }
                @media screen and (min-width: 800px) and (max-width: 1222px){
                    width: 600px;
                }
            }
        }
    }
    &__validation{
        text-align: center;
        button{
            @include button;
        }
    }
}
