
// SECTION FONCTIONNEMENT
.operation{
    width: 100%;
    h3{
        margin: 3rem 0 2rem 1rem;
        font-size: 2rem;
        font-family: 'roboto';
    }
    &__box-menu{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @media screen and (min-width: 800px){
            flex-wrap: nowrap;
        }
        &__card{
            display: flex;
            width: 80%;
            height: 20px;
            margin: 0.5rem;
            background-color: hsl(0°, 0%, 92%);
            padding: 1.5rem;
            border-radius: 1.5rem;
            box-shadow: 5px 5px 5px hsl(0°, 0%, 85%);
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: hsl(267°, 66%, 95%);
                i {
                    color: $clr-primary;
                }
            }
            @media screen and (min-width: 468px){
                width: 360px;
            }
            p:first-child{
                position: relative;
                left: -1.8rem;
                background-color: $clr-primary;
                border-radius: 100%;
                padding: 0.2rem 0.5rem;
                color: #fff;
            }
            i {
                padding-right: 1.5rem;
                color: hsl(0°, 0%, 60%);        
            }
            p:last-child{
                font-family: 'roboto';
                font-weight: bold;
                margin-right: 1.2rem;
                font-size: 0.9rem;
                font-weight: lighter;
            }
        }   
    }
}