/*ANIMATION CHARGEMENT DE LA PAGE*/
@keyframes rotate{
    0%{
        transform : rotate(0deg);
        opacity: 1;
        background: $clr-grey;
        border-top: 1.2rem solid $clr-primary;
    }
    25%{
        transform: rotate(180deg);
        border-top: 1.2rem solid $clr-tertiary;
        opacity: 1;
    }
    50%{
        transform: rotate(-150deg);
        border-top: 1.2rem solid yellow;
        opacity: 1;
    }
    75%{
        transform: rotate(200deg);
        border-top: 1.2rem solid $clr-secondary;
        opacity: 0.5;
    }
    100%{
        transform: rotate(360deg);
        background: linear-gradient($clr-secondary, $clr-primary);
        opacity: 0;
    }
}

/*ANIMATIONS COEUR*/
@keyframes heart{
    0%{
        background: linear-gradient(white, white);
        -webkit-background-clip: text;
    }100%{
        -webkit-text-stroke: 0 #fff;
        background: linear-gradient($clr-secondary, $clr-primary);
        -webkit-background-clip: text;
    }
}

/*ANIMATIONS CHARGEMENT DU MENU*/
@keyframes load-menu{
    0%{
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 100% 0;
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
        transform-origin: 100% 0;
    }
}
